<br><br><h2 id="idUserName">{{userName}} Welcome To The Admin Page</h2>
<!--table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products$ | async">
    <td>{{ product.title }}</td>
    <td> {{(product.category | async)?.name}} </td>
    <td>{{ product.price | currency:'EUR':'symbol' }}</td>
    <td>
      <a [routerLink]="['m-products', product.key]" class="btn btn-secondary">Edit</a>
    </td>
  </tr>
  </tbody>
</table-->
