<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!--div *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="signup">sign up</a>
        div-->
      </li>
      <li class="nav-item">

            <li class="nav-item">
      </li>


        <div *ngIf="!isLoggedIn">
          <li ngbDropdown class="nav-item dropdown" >

          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown101" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{sign_in}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="signin" (click)="checkAndSignin()" >Google</a>
          <!--a class="dropdown-item" routerLink="signin">Email</a-->
        </div>
          </li>

        </div>

      <div *ngIf="isLoggedIn">

      <li ngbDropdown class="nav-item dropdown" >

        <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_displayName}}</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <!--a class="dropdown-item" routerLink="account">My Account</a-->
          <div *ngIf="authService.isAdmin">
          <a class="dropdown-item" routerLink="admin/products">Manage Products</a>
          <a class="dropdown-item" routerLink="admin/catagory">Manage Category</a>
            </div>
          <a class="dropdown-item" (click)= "checkAndSignin()">{{sign_in}}</a>
        </div>
      </li>

      </div>
    </ul>
    <form  class="form-inline my-2 my-lg-0" >
      <input #query
      (keyup)="search(query.value)"
       class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<data-table
[items]="filteredProducts"
[itemCount]="itemCount"
(reload)="reloadfilteredProducts($event)"
>
<data-table-column
[property]="'title'"
[header]="'Title'"
[sortable]="'true'"
[resizable]="'true'"
>
</data-table-column>

<data-table-column
[property]="'price'"
[header]="'Price'" 
[sortable]="'true'"
[resizable]="'true'"
>
<!-- <ng-template #dataTableCell let-item="filteredProducts">
  {{ filteredProducts.price | currency:'USD' : true }}
</ng-template> -->

</data-table-column>

<data-table-column

[property]="'imageUrl'"
[header]="'imageUrl'"
[sortable]="'true'"
[resizable]="'true'"
>
<p>HHHHHHHHHHHHHHHHHHHHHH</p>
</data-table-column>

<!-- <data-table-column
  [property]="'$key'"
  >
  <ng-template #dataTableCell let-item="filteredProducts">
    <a [routerLink]="['/admin/manage-products/',filteredProducts.$key]">Edit</a>
  </ng-template>
</data-table-column>  -->

</data-table>
<img src={{imageUrl}} width="50px">

<ul>
  <tr *ngFor="let person of filteredProducts; let i = index">
    
    <td>
        <img src={{person.imageUrl}} width="50px">
      Title - {{ person.title }} </td> <td>Type - {{ person.type }} </td>  <td>Price - {{ person.price }} </td> <td> Description - {{ person.description }} </td> <td>{{person.photo}} </td>
    </tr>
  </ul>
  